.App {
  text-align: center;
}

/*.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
*/
.block {
  display: flex;
  height: 100%;
  color: darkred;


}

.screen-top, .screen-top-order-page, .screen-top-review-page {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  text-align: center;
  background-size: 100% 100%;
  background-position: center center;
  background-image: url('pictures/success screen yellowBG.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.screen-top {
  bottom: 40%;
}

.screen-top-order-page {
  bottom: 55%;

}

screen-top-review-page {
  bottom: 60%;
}


.screen-bottom {
  top: 60%;
}

.screen-bottom, .screen-bottom-order-page, .screen-bottom-review-page {
  text-align: center;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.screen-bottom-order-page {
  top: 45%;
}

.screen-bottom-review-page {
  top: 40%;
}


table {
  margin: 0 auto;
}



